
/*imagecard */
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin-top: 4rem;
  padding: 1rem;
}
.card {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.613);
  padding: 40px;

}

.card img {
  height: 250px;
  width: auto;
  border-radius: 0.5rem;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}


.all-content a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  font-family: Prompt; font-weight: lighter;
  font-size: 40px;
  font-family: prompt; font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 1rem;
}

.cta-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  
}



.logo-img {
  height: 80px;
}

.navbar-links.show {
  display: block;
}

.navbar-links a {
  display: block;
  margin: 0;
}

@media (max-width: 668px) {
  .menu-btn {
    display: block;
  }
  .navbar-links {
    display: none;
  }
}


/*  responsive navigation */
@media only screen and (max-width: 600px) {
  
    /* Hide the navbar */
  
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
  }
  .card-inner {
    text-align: center;
  }
  .all-content a {
    font-size: 40px;
  }
  .card img {
    height: 150px;
    width: 100%;
    align-items: baseline;
  }
}
