body {
    background: linear-gradient(0deg, rgba(77, 72, 102, 1) 1%, rgba(7, 0, 41, 1) 90%);
  }

  .header-container {
    background-color: rgba(7, 0, 41, 1);
    opacity: 50%;
  }

  .logo-img {
    width: 175px;
  }



  .createacc-button {
    background-color: rgba(77, 72, 102, 1) 1%, rgba(7, 0, 41, 1) 90
  }
