
    body {

        background-color: black;
        margin: 2rem;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }



header{
    background:rgb( 0,0,0,0.2);
    padding: 60px;
    text-align: right;
}

header a {
    color: #fff;
    text-decoration: none;
    
    
}
h1{
  color: #fff;
  font-size: 20px;
  font-family:'Padauk', sans-serif; 
}

h2{
  font-family: prompt;
  color: #ab2180;
  font-weight: 300;
  font-size: 80px;
}

h4{
  font-family: prompt;
  font-weight: 200;
  color: #fff;
  font-size: 60px;
}

p{
  color: #fff;
  font-size: 20px;
  font-family:prompt;

}
/* movieposter styling */
.products {
  display: flex;
}

.products > a {
  margin: 2rem;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 1rem;      
}

.products > a:hover {
  background-color: #d0d0d0;
}



.buttonclass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonclass > button {
  cursor: pointer;
}


.product-image {
border-radius: 1rem;
width: 300px;
height: 300px;
object-fit: contain;

}


#color-e-p{
    color: #fef6ff;
    font-family:'Padauk', sans-serif;
    font-weight: regular;
    font-size: 30px;
    margin: 40px;
    
    
    


}


#box{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
    color: #fef6ff;
    width: 300px;
    height: 30px;
    
}

.ctas{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background:#278df9;
    color: #fff;
    font-family: catamaran; font-weight: bold; font-size: 20px;
    
}

.cta{
    flex: 1;
    min-height: 200px;
    position:relative ;
    

}
.cta a{
    color: #fff;
    
 }

 .cta-creater{
     background-image:url(../images/home-img/man\ with\ a\ filming.jpeg);
     background-size: cover;

 }
 .cta-watch{
     background-image: url(../images/home-img/camarabrain.jpeg);
     background-size:cover;
     border: 50px;
     
 }
 .cta-with-image a{
     background:#278df9;
     position:absolute;
     left: 50%;
     transform: translatex(-50%);
     background-repeat: no-repeat;
     border: 40px;

   
 }



 .cta-create-account{
     color: #fef6ff;


 }

button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background:#ab2180;
  color: #fff;
  font-family: prompt;
  font-weight:400;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

 
.Banner-img{
    background-image: url(../images/home-img/film\ camera\ banner.jpeg);
    padding: 100px;
    text-align: center;
    color: #fef6ff;
 
}
#background-color{
    padding: 10px;
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
}





 #watcher-profile{
     padding: 20px;

 }
  
 .profile-info {
    font-family:'Padauk', sans-serif;
    font-weight: light;
    font-size: 20px;
    color: #fef6ff; 

 }

 .login-section{
   
    padding: 80px;
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
    border-radius: 50px;
    border-color: #ab2180;
   


 }
 .brb{
    display: flex;
    flex-direction:column-reverse
     

     

     
 }

 #cc-icon{
     color: #fef6ff;
     position:relative;
     left: 50%;
     transform: translatex(-50%);
     
 }
 .paymentlist{
     color: #fef6ff;
     font-family: catamaran; font-weight: bold; font-size: 20px;
     text-align: center;
      
 }
 #vipps{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
 }
 #klarna{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
 }
 #paypal{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
 }
 
 /*van*/
 .menu-btn,
 .menu-btn__burger {
   display: none;
   cursor: pointer;
   background: transparent;
   border: none;
   outline: none;
   z-index: 1000;
 }
 
 .menu-btn__burger {
   width: 20px;
   height: 2px;
   background: #000;
   border-radius: 2px;
   transition: all 0.2s ease;
   position: relative;
 }
 
 .menu-btn__burger:before,
 .menu-btn__burger:after {
   content: "";
   width: 20px;
   height: 2px;
   background: rgba(0, 0, 0, 0.439);
   border-radius: 2px;
   position: absolute;
   transition: all 0.2s ease;
 }
 
 .menu-btn__burger:before {
   top: -6px;
 }
 
 .menu-btn__burger:after {
   top: 6px;
 }
 
 .menu-btn {
   font-family: catamaran;
   font-weight: bold;
   font-size: 50px;
   display: block;
   background-color: black;
   color:#ab2180;
   padding: 0.5em 0.1em;
   cursor: pointer;
 }
 
 .logo-img {
   height: 80px;
   float: left;
 }
 
 .navbar-links {
  font-family: Prompt;
  
 }
 .navbar-links.show {
   display: block;
 }
 
 .navbar-links a {
  display: block;
  margin: 0;
  background-color: #000;
  border-color: #ab2180;
  padding: 1rem;
  font-size: 20px;
 }



 

  
 
 @media (max-width: 668px) {
  .menu-btn {
    display: block;
  }
  .navbar-links {
    display: none;
  }

  body {
    margin: 0px;
  }

}