
body{
    margin: 0;
    padding:0%;
    background: #070029;
    background-image: linear-gradient(#070029,#070029,#595470);
    box-sizing:border-box;
}

.image-header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit:fill
    

}

.hamburger {
    float: right;

}

#hamburger-menu:checked ~ .menu-items {
  display: none;  
}

#hamburger-menu{
    display: block;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#362B48;
}
header { 
    color: #FEF6FF50; 
    min-height: 1vh;
    display: flex;
    grid-gap: 1em;
    
}



p{
    color: #FEF6FF;
    font-family:'Padauk', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    

}
h1{
    color: #FEF6FF;
    font-family: Prompt;font-weight: lighter;
    font: size 40px;
}

 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
 }

 .item{
     flex: 1;
     padding: 30px;
     margin: 10px;

 }

 .item-one{
    flex: none;
    font-family: 'Padauk', sans-serif;
    padding: 200px;
    background-color: #362B48;
    background-image: linear-gradient(#070029,#ab2180);
    
}

 .item-two{
    flex: none;
    font-family: 'Padauk', sans-serif;
    padding: 100px;
    background-color: #362B48;
    background-image: linear-gradient(#070029, #ab2180)
    }
 
.button1{

    background-color: #278df9;
    border: none;
    color: #FEF6FF;
    padding: 14px 40px;
    font-family: catamaran; font-weight: bold; font-size: 20px;
    text-align: center;
    transition-duration:0,04s;
    width: 50%;
    place-items: center;
    display: grid;
}

.button1:hover {
        background-color: #ab2180; 
        
      }

.button1{border-radius: 8px;
}

.button1{
    flex-direction: c;
}


  @media only screen and (min-width: 768px) {
    /* For tablets: */
    body{
        background:red;
    
    }


    }
  
  @media only screen and (min-width: 1024px) {
    /* For desktop: */
    body{
        background:#070029
    
    }
}
