body{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
    background-size: cover;
    margin: 0px;
    background-repeat: no-repeat;
   
}



.header-logo{
    background-image: url(../images/home-img/SquareEyes_Logo.png);
    ***esize logo image***



}


header{
    background:rgb( 0,0,0,0.2);
    padding: 60px;
    text-align: right;
}

header a {
    color: #fff;
    text-decoration: none;
    
    

}
nav #hamburger-checkbox{
    display:none;
    
    
}

nav{
    position:absolute;
    right: 10px;
    top: 40px;
    
}
.mainnav{
    font-family: catamaran; font-weight: bold; font-size: 40px;
    background-color: #362B48;
    opacity: 40%;
    flex: 1;
    min-height: 100px;
    
   


}
#hamburger-checkbox:checked~nav{
    display:none;
    
}
#hamburger-checkbox{
    display: none;
    
}
.bars{
    color: #fef6ff;
    margin: 0 auto
    
    
}
#color-e-p{
    color: #fef6ff;
    font-family:'Padauk', sans-serif;
    font-weight: regular;
    font-size: 30px;
    margin: 40px;
    
    
    


}


#box{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
    color: #fef6ff;
    width: 300px;
    height: 30px;
    
}

.ctas{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background:#278df9;
    color: #fff;
    font-family: catamaran; font-weight: bold; font-size: 20px;
    
}

.cta{
    flex: 1;
    min-height: 200px;
    position:relative ;
    

}
.cta a{
    color: #fff;
    
 }

 .cta-creater{
     background-image:url(../images/home-img/man\ with\ a\ filming.jpeg);
     background-size: cover;

 }
 .cta-watch{
     background-image: url(../images/home-img/camarabrain.jpeg);
     background-size:cover;
     border: 50px;
     
 }
 .cta-with-image a{
     background:#278df9;
     position:absolute;
     left: 50%;
     transform: translatex(-50%);
     background-repeat: no-repeat;
     border: 40px;

   
 }



 .cta-create-account{
     color: #fef6ff;


 }
#or{
   color: #278df9;
   font-family: catamaran; font-weight: bold; font-size: 20px;
   text-align: center;
}
 button{
     width: 200px;
     height: 40px;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
    background:#278df9;
    color: #fff;
    font-family: catamaran; font-weight: bold; font-size: 20px;
    border-radius: 50px;
    
 }
.Banner-img{
    background-image: url(../images/home-img/film\ camera\ banner.jpeg);
    padding: 100px;
    text-align: center;
    color: #fef6ff;
 
}
#background-color{
    padding: 10px;
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
}
 h1{
    text-align: center;
    font-family: Prompt;font-weight: lighter;
    color: #fef6ff;
    
      
}

.background-color{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 10%, rgba(7,0,41,1) 90%);
  

}

 #watcher-profile{
     padding: 20px;

 }
  
 .profile-info {
    font-family:'Padauk', sans-serif;
    font-weight: light;
    font-size: 20px;
    color: #fef6ff; 

 }

 .login-section{
   
    padding: 80px;
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
    border-radius: 50px;
    border-color: #ab2180;
   


 }
 .brb{
    display: flex;
    flex-direction:column-reverse
     
 }
 .image-seize{
    **resize images-watch norof***
     

     
 }

 #cc-icon{
     color: #fef6ff;
     position:relative;
     left: 50%;
     transform: translatex(-50%);
     
 }
 .paymentlist{
     color: #fef6ff;
     font-family: catamaran; font-weight: bold; font-size: 20px;
     text-align: center;
      
 }
 #vipps{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
 }
 #klarna{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
 }
 #paypal{
    background: rgb(77,72,102);
    background: linear-gradient(0deg, rgba(77,72,102,1) 1%, rgba(7,0,41,1) 90%);
 }
 #
 @media only screen and (min-width: 1024px) {
  /* For desktop: */
  body{
      background:#070029;
      background-image:url(../images/home-img/film\ camera\ banner.jpeg); 
      background-repeat: no-repeat;
  }
  h1{
        text-align: center;
        font-family: Prompt;font-weight: lighter;
        color: #fef6ff;

  }

